.Infocard-container {
    position: fixed;
    top: 2vh;
    left: 20px;
    width:max-content;
    height: 92vh;
    border: solid 1px #838282;
    border-radius: 20px;
    background: #ffffff36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 1em 2em 0.5em 2em;
    z-index: 999;
    box-shadow: 0.5px 1px 1px 1px white;
    font-size: 16px;
}

.name, .student, .portfolio {
    font-family: 'Pacifico', cursive;
    color:#FBBE6C;
    font-weight: 500;
}

.name, .student {color: white;}

.name {font-size: 2em;}

.student {font-size: 1.6em;}

.portfolio {
    font-size: 1.3em;
    color: #FBBE6C;
}

.picture
{
    border: solid 1px #bdbdbd;
    border-radius: 250px;
    width: 15em;
    height: auto;
    display: block;
}

.icon-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5em;
}

p
{
    font-size: 13px;
    color: #BAB7B7;
}


@media screen and (max-width: 1300px){
    .Infocard-container {
        position: static;
        margin: auto;
        width: 50vw;
    }
}

@media screen and (max-width: 806px){
    .Infocard-container {
        position: static;
        margin: auto;
        width: 85vw;
        font-size: 13px;
    }

    .picture
    {
        width: 15em;
        height: auto;
    }
}

@media screen and (max-height: 520px){
    .Infocard-container{
        height: auto;
    }

    .picture
    {
        width: 10em;
        height: auto;
    }
}